

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md


# Added by cargo

/target
*\target
/.serena
/.github/instructions
.agent*
*.log
*.txt
*.json
/tmp

# Secure boot - never commit secret key!
keys/kernel.key
